.lightbox {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightboxContent {
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #5a5959;
  width: 100%;
  max-width: 50%;
}

h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .user-table-container {
    display: flex;
    flex-direction: column;
  }
  .user-table,
  .user-actions {
    width: 100%;
    margin-bottom: 10px;
  }
}
