.flexbox {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: 80%;
   justify-content: center;
   margin: 1rem 0 0 7rem;
   padding-bottom: 10px;
}

form {
   max-width: 80%;
   margin: -11px auto;
}

@media (max-width: 600px) {
   .flexbox {
      margin: 1rem 0 0 2rem;
   }

   form {
      margin: -13px auto;
   }
}
