.title {
   text-align: center;
   padding-top: 100px;
   color: rgb(58, 81, 123);
   font-weight: bold;
   border: 2px solid transparent;
}

.sec_titles > div{
   margin: 0 200px;
   color: rgb(58, 81, 123);
}

.form{
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
}

@media (max-width: 768px) {
   .title {
      padding-top: 5px;
      font-size: 2rem;
   }

   .sec_titles > div{
      margin: 0 auto;
   }
   
   .sec_titles > span {
      font-size: 1rem;
   }
}
