* {
   color: rgb(58, 81, 123);
}

.routes {
   margin-left: 15%;
   margin-top: 2%;
}

.title {
   text-align: center;
   padding-top: 100px;
   font-weight: bold;
   border: 2px solid transparent;
}

.theme_div,
.AR_exp_div {
   margin-left: 15%;
   margin-bottom: 0;
}

.ar_imgs {
   display: flex;
   max-width: 50%;
   margin-top: 1%;
   flex-wrap: wrap;
   flex-direction: row;
}

.ar_imgs > div {
   margin-right: 7%;
}

.ar_imgs > div > img {
   border-radius: 50%;
   cursor: pointer;
}

.star {
   max-width: max-content;
   margin-left: 90px;
}

.edit {
   max-width: max-content;
   margin-left: 25px;
   cursor: pointer;
}

.img_icons {
   display: flex;
}

.form {
   display: flex;
   max-width: 80%;
   margin: 0 auto;
   justify-content: center;
}

.routes_title {
   margin-left: 15%;
   margin-top: 3%;
}

.routes_imgs {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   width: 80%;
   margin-left: 13%;
   margin-bottom: 3%;
}

.routes_imgs > div {
   padding: 1%;
   text-align: center;
}

.route_img {
   cursor: pointer;
}

div > .route_img > img {
   border: 1px solid gray;
   border-radius: 30px;
   width: 180px;
   height: 230px;
}

.arlevel_name {
   text-align: center;
}

.arlevel_name > span {
   max-width: max-content;
}

@media (max-width: 600px) {
   .title {
      padding-top: 5px;
      font-size: 2rem;
   }

   .AR_exp_div {
      margin-left: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
   }

   .theme_div {
      margin-bottom: 0;
      margin-left: 7%;
   }

   .ar_imgs {
      margin: 0 auto;
      flex-direction: column;
      margin-bottom: -15px;
      max-width: max-content;
   }

   .ar_imgs > div > img {
      margin-bottom: 8%;
      width: 120px;
      height: 120px;
   }

   .routes_title {
      margin-left: 28%;
      margin-top: 7%;
   }

   .routes_imgs {
      justify-content: center;
      margin: 0 auto;
      width: 90%;
   }

   .routes_imgs > div {
      flex-direction: column;
   }

   .routes_imgs > div:last-child {
      margin-bottom: 30%;
   }

   .routes_imgs > div > img {
      max-width: max-content;
      margin-left: 3px;
   }

   .star {
      margin-left: 75px;
   }

   .arlevel_name {
      margin-top: -7px;
      margin-bottom: 7px;
   }
}
