.logo{
    background-image: url('../Assets/logo_nav.png');
    background-repeat: no-repeat;
    width: 65px;
    height: 63px;
    margin-left: 15px;
}


@media (max-width: 768px) {
    .images{
        display: flex;
    }

    .imgs{
        margin-left: 27px;
    }
}
