.title {
  color: rgb(58, 81, 123);
}

.card {
  border: 1px solid rgba(198, 213, 244, 0.751);
}

@media (max-width: 600px) {
  .title {
    font-size: 1.25rem;
  }
  .card {
    border-radius: 25px;
    margin: 15px;
  }
}
