.logo{
    /* background-image: url('../Assets/map_background_signup_signin_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    opacity: 0.5;*/
    /* border: 2px solid black;  */
    font-size: 2rem;
    font-weight: bold;
    color: rgb(26, 26, 217);

}