.modal > div {
   margin-top: 8%;
   text-align: center;
}

ol > li::marker {
   font-weight: bold;
   color: rgb(15, 77, 139);
}

ol > li {
   font-size: 1.2rem;
}

.third {
   color: #0081c9;
}

.red {
   color: red;
}

.green {
   color: #379237;
}

@media (max-width: 600px) {
   .modal {
      text-align: left;
   }
}
