@media screen and (min-width: 400px) {
  .Creation {
    margin-left: 30px;
    width: 380px;
  }
  .CreationForm {
    /* direction: ltr; */
    /* margin-right: 2000px; */
    /* font-weight: bold; */
    width: 380px;
    margin-right: 100px;
    margin-top: 20px;
    color: rgb(150, 142, 142);
  }
  .Creation h6 {
    text-align: left;
    margin-top: 30px;
  }
  .date {
    border: none;
    border-bottom: 1px solid rgb(150, 142, 142);
    color: rgb(150, 142, 142);
  }
  .time {
    border: none;
    border-bottom: 1px solid rgb(150, 142, 142);
    margin-left: 50px;
    color: rgb(150, 142, 142);
  }
  .AR {
    border: none;
    /* border-bottom: 1px solid rgb(150, 142, 142); */
    margin-top: 20px;
    color: rgb(150, 142, 142);
    font-size: 200x;
  }
  .theme {
    border: none;
    border-bottom: 1px solid rgb(150, 142, 142);
    margin-top: 20px;
  }
  .POIS {
    border: none;
    border-bottom: 1px solid rgb(150, 142, 142);
    color: rgb(150, 142, 142);
    margin-top: 10px;
  }
  Button {
    margin-top: 20px;
    margin-right: 100px;
    width: 200px;
  }
}
