.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
}

.container {
   text-align: center;
   position: relative;
   /* /* background: url('../Assets/map_background_signup_signin_page.jpg') no-repeat center center fixed; */
   width: 500px;
   height: 100vh;
}

@media (max-width: 600px) {
   .container {
      /* background: url('../Assets/map_background_signup_signin_page_sm.jpg') no-repeat center center fixed; */
   }
}
