header{
    margin: 0 auto;
    text-align: center;
}

.title{
    font-size: 1rem;
}

h1{
    display: inline-block;
}

h2{
    margin-top: -2%;
}

@media (max-width: 768px) {
    
    .title{
        font-size: 0.8rem;
    }
}