.divider_span {
   color: '#B3B6B7';
}

.divider_span > hr {
   margin-top: 25px;
}

.divider_hr {
   width: 80px;
   display: inline-block;
}

@media (max-width: 600px) {
   .divider_hr {
      width: 50px;
   }
}
